body {
  background-color: #333;
  color: #f5f5f5;
  font-family: "Staatliches", cursive;
  padding: 0.5rem;
  text-align: center;
}

main,
#film-strip {
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100vw;
}

#film-strip {
  border-bottom: 1px solid #f5f5f5;
  border-top: 1px solid #f5f5f5;
  max-width: 1200px;
  padding: 1rem 0;
}

figure {
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
}

main,
#film-strip figure {
  align-items: center;
}

#display img {
  border: 1px solid #ffc922;
  border-radius: 4px;
  max-height: 40vh;
}

#film-strip img:focus,
#film-strip img:hover {
  cursor: pointer;
}
